@charset "UTF-8";
body{
    height: 100vh;
    background-size: cover;
    background: black url(imagens/wallpaper002.jpg) top center no-repeat fixed;
}
main{
    background-color: white;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border: 5px solid darkblue;
    border-radius: 10px;
}