@charset "UTF-8";

*{
    margin: 0px;
}
div.block{
    background-image: url(imagens/wallpaper005.jpg);
    height: 150px;
    background-repeat: no-repeat;
}
div#mascote{
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 50px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    
}